<p> This is the included _header </p>
<% if (user) { %>

  <form method="POST" action="/logout"/>
    <input type="submit" value="logout"/>
  </form>

<% } else { %> <%}%>

<p>
  <a href=http://localhost:8080/register>
    <font color=#cc3300> Press on the link to register </font>
  </a>
<p>
  <a href=http://localhost:8080/login>
  <font color=#cc3300> Press on the link to login </font>
  </a>
<p>


