<font color=#000066> login to get started! </font>
<form method="POST" action="/login"/>
  <label for="email">Email:</label>

  <input  type="email" name="email">

  <label for="password">Password:</label>

  <input type="password" name="password">

  <input type="submit" value="login">
</form>
