<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<p> Register to gain access <p>
<body>
<form  method="POST" action="/register" >
  <label for="email">Enter a Email:</label>

  <input  type="email" name="email">

  <label for="password">Enter a Password:</label>

  <input type="password" name="password">

  <button type="submit"> Submit </button>
</form>
</body>
</html>