<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<div> <%- include partials/_header.ejs %> </div>
<body>
  <ul>
  <% for(var i in urls) { %>
  <li>
    <%= i + ': ' + urls[i] %>
    <form method="POST" action="/urls/<%=i%>/delete">
      <button> DELETE </button>
    </form>
  </li>
<% } %>
</ul>
</body>
</html>
