<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<body>
  <div> <%- include partials/_header.ejs %> </div>
  <% if(user) { %>
  <a href="/urls/new"> Make a new short url </a>
  <ul>
    <% for (var i in urls) { %>
      <li>
        <%= i + ': ' + urls[i]['longUrl'] %>
        <form method="POST" action="/urls/<%=i%>/delete">
          <button> DELETE </button>
        </form>
        <form method="GET" action="/urls/<%=i%>">
          <button> EDIT </button>
        </form>
      </li>
    <% } %>
  </ul>
 <% } else {%>
 <p>Must login to view this </p>
 <%}%>
</body>
</html>
