<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<body>
<div> <%- include partials/_header.ejs %> </div>
<%= shortUrl %>
<a href=
<form method="POST" action="/urls/<%= shortUrl%>/update">
  <input name="longUrl" type="text" value= "<%=longUrl%>">
  <button type="submit"> EDIT </button>
</form>
</body>
</html>